.mainBackGround {
	/* background-color: aqua; */
	background: linear-gradient(25deg, aqua, yellow);
	height: 100vh;
}

.mainContainer__title {
	width: 600px;
	margin: 0 auto;
	font-family: "Nikukyu";
	height: 220px;
	font-size: 50px;
	color: red;
	position: relative;
}

.char1 {
	transform: rotate(-40deg);
	position: absolute;
	top: 100px;
}

.char2 {
	transform: rotate(-10deg);
	position: absolute;
	top: 80px;
	left: 50px;
}

.char3 {
	transform: rotate(10deg);
	position: absolute;
	top: 80px;
	left: 100px;
}

.char4 {
	transform: rotate(40deg);
	position: absolute;
	top: 100px;
	left: 150px;
}

.char5 {
	transform: rotate(40deg);
	position: absolute;
	top: 120px;
	left: 180px;
	font-weight: bold;
}

.char6 {
	transform: rotate(10deg);
	position: absolute;
	top: 140px;
	left: 220px;
}

.char7 {
	font-weight: bold;
	transform: rotate(-10deg);
	position: absolute;
	top: 160px;
	left: 260px;
}

.char8 {
	transform: rotate(-10deg);
	position: absolute;
	top: 140px;
	left: 300px;
}

.char9 {
	transform: rotate(-40deg);
	position: absolute;
	top: 120px;
	left: 350px;
}

.char10 {
	font-weight: bold;
	transform: rotate(-10deg);
	position: absolute;
	top: 110px;
	left: 410px;
}

.char11 {
	transform: rotate(10deg);
	position: absolute;
	top: 100px;
	left: 470px;
}

.char12 {
	font-weight: bold;
	transform: rotate(40deg);
	position: absolute;
	top: 130px;
	left: 505px;
}

.mainContainer__contents {
	max-width: 600px;
	margin: 0 auto;
}

.imageMajin {
	width: 200px;
}

.mainContainer__contents__discription--text {
	color: gray;
	font-weight: bold;
}

.balloon5 {
	width: 100%;
	margin: 1.5em 0;
	overflow: hidden;
}

.balloon5 .faceicon {
	float: left;
	margin-right: -90px;
	width: 200px;
}

.balloon5 .faceicon img {
	width: 100%;
	height: auto;
}

.balloon5 .chatting {
	width: 100%;
}

.says {
	display: inline-block;
	position: relative;
	margin: 5px 0 0 105px;
	padding: 17px 13px;
	border-radius: 12px;
	background: #d7ebfe;
}

.says:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 18px;
	left: -24px;
	border: 12px solid transparent;
	border-right: 12px solid #d7ebfe;
}

.says p {
	margin: 0;
	padding: 0;
}

.formBtn {
text-align: center;
}

.formBtn__submit {
	display: inline-block;
	text-decoration: none;
	background: #87befd;
	color: #FFF;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: none;
}
.seekbar{
position: absolute;
    top: 450px;
    left: 700px;
}